body{
  background-color: #EEEEEE;
  font-family: "open sans";
}
.error{
  height: 30px;
  width: 60%;
  margin: 20px auto 60px;
  text-align: center;
  color: #06283D;
  font-weight: 600;
  font-size: 1.5rem;
}
.main{
  overflow: hidden;
  width: 60%;
  margin: 20px auto;
  font-weight: bold;
  padding: 50px;
  position: relative;
  border-radius: 40px;
  min-height: 300px;
  background-color: #06283D;
  color: white;
}
.button {
  background-color: #F9F7F7;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 500;
  text-align: center;
  transition: 500ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  margin: 0 10px;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow:0px 0px 0px 0   rgba(0,0,0,.2), 3px 2px 10px 0px rgba(0,0,0,.15);
}
.button:hover {
  outline: 0;
  background-color: #06283D;
  color: white;
  box-shadow:0 0 0 0  rgba(0,0,0,.2), 3px 2px 10px 0px rgba(0,0,0,.15);
}
.level1{
  display: block;
}
.img{
  display: block;
  text-align: right;
  height: 150px;
}
img{
  height: 150px;
}
.basic{
  margin-top: 5px;
  background-color: #525E75;
  padding: 10px;
  border-radius: 20px;
}
.basic>h1{
  margin: 0;
  display: inline-block;
  width: auto;
  margin-right: 20px;
}
.basic>span{
  font-size: 27px;
}
.level2{
  margin-top: 40px;
}
.bottom{
  width: 65%;
  margin: 40px auto;
}
.bySearch{
  margin-bottom: 20px;
}
.bySearchButton{
  display:block;  
  margin-top: 10px;
  margin-left: 0;
}
.byCurrentlLocation{
  text-align: right;
  width: 100%;
}
.byCurrentlLocation>button{
  height: 100%;
}
.hidden{
  display: none;
}



.ha-screen-reader{
  width: var(--ha-screen-reader-width, 1px);
  height: var(--ha-screen-reader-height, 1px);
  padding: var(--ha-screen-reader-padding, 0);
  border: var(--ha-screen-reader-border, none);

  position: var(--ha-screen-reader-position, absolute);
  clip: var(--ha-screen-reader-clip, rect(1px, 1px, 1px, 1px));
  overflow: var(--ha-screen-reader-overflow, hidden);
}


input.field__input{
  width:80%;
}


.field__input{ 
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  background-color: white;
  border-radius: 10px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
}


.field{
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
  /* --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1)); */
  width: 100%;
  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input{
  border-bottom: 2px solid black;
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight,0.5rem) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft,0.5rem);
  /* border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));   */
}

.field__input:focus{
  outline: none;
}

.field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field__label-wrap{
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after{
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after{
  opacity: 1;
}

.field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - .5em);

  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);

  transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);

  top: var(--fieldHintTopHover, .25rem);
}


.field_v1 .field__label-wrap::after{
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  transition: opacity .2s ease-out;
  will-change: opacity;
}


@media only screen and (max-width: 400px) {
  .bottom{
    width: 80%;
  }
}